PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=sistemasdm
JWT_SECRET=tu_jwt_secret_aqui

# Credenciales para envío de correos (nodemailer)
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_app_password
